.orders {
  padding: 16px;
}

.order {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
}

.corder {
  margin: 32px auto;
  width: 280px;
}

.input-field {
  margin: 8px 0 12px 0;
  display: grid;
}

input,
select {
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  color: #222;
  border: 1px solid #ddd;
}

input:focus,
select:focus {
  border: 1px solid #ffb838;
}

select {
  background: #fff;
}

input[type="submit"] {
  background: #789db7;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  min-height: 32px;
}

.center {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center p {
  font-size: 24px;
}

.center a {
  font-size: 18px;
}

a.btn.orange {
  margin-top: 16px;
  background: #789db7;
  color: #fff;
  padding: 4px 16px;
  border-radius: 16px;
}

.order-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.dash-orders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 16px;
}

.orders-header {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.dash-order {
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0 0 8px #ddd;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orders-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.red {
  background: #f53f3f;
}

.green {
  background: #28d14d;
}

.orders-collection {
  margin: 24px 0 32px;
}

.tabs {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tab {
  padding: 8px;
  position: relative;
  cursor: pointer;
}

.tab.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ffb838;
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  animation: anim 0.2s linear 1 forwards;
}

.continue {
  border-radius: 32px;
  padding: 6px 16px;
  /* border: 1px solid #ffb838; */
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 16px auto;
}

.continue > span {
  color: #fff;
}

@keyframes anim {
  from {
    width: 2%;
  }

  to {
    width: 100%;
  }
}
