@import url("https://fonts.googleapis.com/css?family=Gupter&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("./assets/css/product.css");
@import url("./assets/css/orders.css");
@import url("./assets/css/layout.css");
@import url("./assets/css/dashboard.css");
/* html,
body {
  min-height: 100vh;
} */

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  border: none;
  outline: none;
  color: #222;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 300;
  object-fit: cover;
}

.app {
  width: 50%;
  margin: 0 auto 3em;
  position: relative;
  background-size: contain;
}

body {
  /* background: url('https://images.unsplash.com/photo-1569419927926-8d097e621683?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9'); */
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 0;
}

span.badge {
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  font-weight: bold;
}

.material-icons,
button,
.btn {
  cursor: pointer;
}

/* Button */
.btn {
  background: #789db7;
  display: flex;
  padding: 1px 10px;
  border-radius: 24px;
  box-shadow: 1px 1px 7px #fee5a5, -1px -1px 7px #f7f6ee;
  /* min-height: 32px; */
  justify-content: center;
}

.btn > .material-icons {
  color: #f7f6ee;
}

/* Auth */
.authenticate {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.decor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #ffb838, #486d87);
}

.decor > div {
  max-width: 350px;
}

.auth {
  width: 300px;
  margin: auto;
}
